/*header parte-1*/

.bg-img-block.notebook {
	background: url("../img/background/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 100vh;
}


.notebook::before{
  background-color: rgba(0, 0, 0, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.prime {
	
	height: 100px;
}
.fa-star-half-o{
	color: white;
    font-size: 30px;
    padding-top: 5%;
    position: relative;
}
nav li {
	display: inline-block;
	position: relative;
}
.lista {	
	padding-left: 30%;
}

a:hover {	
	color: #0dc0c0;
}

.size {
	font-size: 20px;
}

a:hover{
	
	color: white;
}

.lis:hover{
	color:#0dc0c0 ;
}


/*final header parte-1*/

/*header parte-2*/
.size {
	font-size: 20px;
}

.negrita{
	font-size: 40px;
}
.launch {
	height: 550px;
    padding-top: 14%;
    position: relative;
  
}
h1 {
	margin-bottom: 4%;
}

.out .lear {
	display: inline-block;
	margin-top: 10%;
	
}

.botom{
	display: inline-block;
	margin-top: 5%;

}

.out:hover, .lear:hover{
	background-color: #0dc0c0;
}
.out{
	background-color: gray;
	padding: 10px 16px;
	margin-right: 10px;
	
}

.lear {

	background-color: gray;
	opacity:0.5;
	padding: 10px 16px;
}

/*fin header parte-2 */

/*section parte 1 y 3*/
.parte1 {
	font-family: Arial;
	font-size: 15px;
	padding: 50px;
}
/*final section parte 1 y 3*/

/*section parte 2*/

.computador {
	background: url("../img/laptop-features.png");
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10%;
	text-align: left;
}
.m-features {
	font-size: 30px;
	padding-bottom: 3%;
}
/*final section parte 2*/

/* parte 4 titulo/nav*/

.t-porlfolio {
	margin-top: 4%;
}

.menu-2 li {
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
}
.s-all {
	text-decoration: none;
	background-color: white;
	color: black;
	padding: 8px 12px
}
.s-all:hover {
	background-color: #0dc0c0;
	color: white;
}

/*parte-4 titulo/nav listo */

/*parte-4 img*/

.grid-fondo {
	background-color: white;
    border: 1px solid rgb(244, 244, 244);
    margin-left: 3%;
    margin-bottom: 3%;
    font-family: arial;
    box-shadow: 2px 1px 1px  #888;
}
.grid-img {
	width: 445px;
    padding-top: 3%;
   
}
.f-l {
	margin-left: 8%;
}

/*fin parte-4*/




/*inicio parte 6 */

.c-p-7 {
	padding: 2% 5%;
	font-family: arial;

}

.customers {
	border-radius: 50%;
	width: 15%;
	padding: 4% 0%;

}
.what {
	font-size: 25px;
	padding-bottom: 5%;
}
.diana {
	padding-top: 2%;
	padding-bottom: 4%;
}
/*fin parte 6*/


/*falta parte 7*/


/*parte 8 */
	.col-12 .fa {
	margin-left: 3%;
	margin-bottom: 3%;
	margin-top: 3%;
}
.follow-us {
	margin-bottom: 3%;
}


/*footer*/
.bg-plomo{
	background-color: #585050;
    height: 85px;
    padding-top: 3%;
}
