/*header*/

.bg-img-block.notebook{
	background: url("../img/background/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;


}

/*header*/
.size{
	font-size: 20px;
}


.launch{
	height: 550px;
    padding-top: 14%;
}

h1{
	margin-bottom: 4%;
}

.out, .lear{
	display: inline-block;
	margin-top: 10%;
	padding: 1%;

}
.out:hover, .lear:hover{
	background-color: #0dc0c0;
}
.out{
	background-color: gray;
	margin-right: 4%;
}

.lear{
	background-color: blue;
}